<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Añadir estos permisos si no existen -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Para Android 10+ -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".CosturaProApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/gato_mamado"
        android:label="@string/app_name"
        android:theme="@style/Theme.Material3.Light"
        tools:targetApi="31">

    <activity
        android:name=".ui.auth.MainActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name=".ui.auth.LoginActivity"
        android:exported="false" />
    <activity
        android:name=".ui.admin.AdminDashboardActivity"
        android:exported="false" />
    <activity
        android:name=".ui.worker.WorkerDashboardActivity"
        android:exported="false" />
    <activity
        android:name=".ui.admin.ManageWorkersActivity"
        android:exported="false" />
    <activity
        android:name=".ui.admin.ManageOperationsActivity"
        android:exported="false" />

    <!-- NUEVA ACTIVIDAD: Gestionar Máquinas -->
    <activity
        android:name=".ui.admin.ManageMachinesActivity"
        android:exported="false" />

    <activity
        android:name=".ui.admin.MachineHistoryActivity"
        android:exported="false" />

    <activity
        android:name=".ui.admin.ExcelActivity"
        android:exported="false" />
    <activity
        android:name=".ui.admin.NotesActivity"
        android:exported="false" />

    <!-- Provider para archivos -->
    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.provider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>

    <!-- Nuevas actividades para QR y Asistencia -->
    <activity android:name=".ui.attendance.AttendanceActivity" android:exported="false"/>
    <activity android:name=".ui.attendance.QRScannerActivity" android:exported="false"/>
    <activity android:name=".ui.attendance.QRGeneratorActivity" android:exported="false"/>
    <activity android:name=".ui.attendance.AttendanceHistoryActivity" android:exported="false"/>

    <!--neubas para exel -->
    <activity
        android:name=".ui.admin.FileViewerActivity"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
</application>

    </manifest>